# Function in Python
- why function
- function Defination
- Positional and Keyword Arguments in Function

In [3]:
num=26
if num%2==0:
    print("The Number is Even")
else:
    print("The Number is Odd")

The Number is Even

In [8]:
def even_odd(num):
        if num%2==0:
            print("The Number is Even")
        else:
            print("The Number is Odd")

In [9]:
even_odd()

The Number is Odd

In [10]:
def add_num(num1,num2):
    return num1+num2

In [11]:
add_num(2,3)

5

In [12]:
## positional Argument
## keyword argument

def hello(name,age=20):
    print("My name is {} and my age is {}".format(name, age))

In [14]:
hello('sanwal')

My name is sanwal and my age is 20

In [15]:
hello("Sanwal", 22)

My name is Sanwal and my age is 22

In [16]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [17]:
## *args used for positional argument
## **kwaargs used for keyword argument

def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [18]:
hello("Sanwal", "Khan", age=22, dob=1999)

('Sanwal', 'Khan')
{'age': 22, 'dob': 1999}

In [21]:
li=[1,2,3,4,5,6,7,8,9,10]

def even_odd_sum(li):
    even_sum=0
    odd_sum=0
    for i in li:
        if i%2==0:
            even_sum=even_sum+i